{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "plugin:prettier/recommended"
  ],
  "overrides": [
    {
      "files": ["**/*.test.ts"],
      "extends": ["plugin:jest/recommended", "plugin:jest/style"]
    }
  ]
}
